<h2>Members Only Club House App</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <b>Post title : <%= post.title %> 
      <%= "User: #{author post.user_id}" if logged_in? %></b>
      <p>Post body : <%= post.body %></p>
    </li>

  <% end %>
</ul>